.target-menu {
	position: absolute;
	bottom: 10%;
	left: 60%;
	width: 13%;
	max-height: 80vh;
	overflow: auto;

	&::-webkit-scrollbar {
		display: none;
	}

	-ms-overflow-style: none;
	scrollbar-width: none;

	&_cells {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5vw;

		height: 100%;
		align-items: end;
		align-content: end;
	}

	&_cells-item {
		position: relative;
		width: 100%;
		height: fit-content;
		overflow: hidden;
		transition: opacity 0.5s ease, transform 0.25s ease;
		border-radius: 5px;

		&.disabled {
			pointer-events: none;
			opacity: 0 !important;
		}

		&.hover {
			.container {
				background-color: rgba(17, 25, 40, 1);
				border-left: 3px solid rgba($color: $gh-green, $alpha: 1);
			}
		}

		img {
			width: auto;
			height: 100%;
			width: 0.8vw;
			height: 0.8vw;
			filter: invert(1);
		}

		span {
			text-transform: uppercase;
			font-weight: 300;
			font-size: 1vw;
			line-height: 1.3;
		}
	}

	.container {
		padding: 3% 5%;
		width: 100%;
		height: fit-content;

		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 5%;

		text-align: left;
		background-color: rgba(17, 25, 40, 0.8);
		background: linear-gradient(
			90deg,
			rgba(17, 25, 40, 0.75) 0%,
			rgba(17, 25, 40, 0.2) 100%
		);
		border-left: 2px solid rgba($color: $gh-green, $alpha: 0.8);
		border-radius: 0.2vw;

		transition: background-color 0.25s ease;
	}
}

.target-menu-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;

	.logo {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;

		width: 13%;
	}

	.__rrm-return {
		stroke: #fff;
	}
}
