@import './input';
@import './current';
@import './main';

.gas {
  display: flex;
  align-items: center;
  justify-content: center;

  @extend %smoke;

  &_fields {
    // padding-right: 40%;
    width: 60%;
    margin: 0 auto;

    .header {
      margin-bottom: 2%;
      padding-right: 15%;
      display: flex;
      justify-content: space-between;
      font-size: 1.2vw;
    }

    &-item {
      margin-bottom: 3%;
    }
  }

  &_price {
    margin: 0 auto;
    width: 35%;

    margin-top: 4%;
    width: 35%;
    text-align: center;
  }

  &_buttons {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    button:last-child {
      width: 30%;
    }
  }
}
