@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
	font-family: 'Oswald';
	src: url(~assets/fonts/Oswald-ExtraLight.ttf);
	font-weight: 200;
}

@font-face {
	font-family: 'Oswald';
	src: url(~assets/fonts/Oswald-Light.ttf);
	font-weight: 300;
}

@font-face {
	font-family: 'Oswald';
	src: url(~assets/fonts/Oswald-Regular.ttf);
	font-weight: 400;
}

@font-face {
	font-family: 'Oswald';
	src: url(~assets/fonts/Oswald-Medium.ttf);
	font-weight: 500;
}

@font-face {
	font-family: 'Oswald';
	src: url(~assets/fonts/Oswald-SemiBold.ttf);
	font-weight: 600;
}

@font-face {
	font-family: 'Oswald';
	src: url(~assets/fonts/Oswald-Bold.ttf);
	font-weight: 700;
}

@font-face {
	font-family: 'SF UI Text';
	src: url(~assets/fonts/SFUIText-Light.ttf);
	font-weight: 300;
}

@font-face {
	font-family: 'SF UI Text';
	src: url(~assets/fonts/SFUIText-Regular.ttf);
	font-weight: 400;
}

@font-face {
	font-family: 'SF UI Text';
	src: url(~assets/fonts/SFUIText-Medium.ttf);
	font-weight: 500;
}

@font-face {
	font-family: 'SF UI Text';
	src: url(~assets/fonts/SFUIText-Bold.ttf);
	font-weight: 700;
}

@font-face {
	font-family: 'Roboto';
	src: url(~assets/fonts/Roboto-Black.ttf);
	font-weight: 700;
}

@font-face {
	font-family: 'Roboto';
	src: url(~assets/fonts/Roboto-Bold.ttf);
	font-weight: 600;
}

@font-face {
	font-family: 'Roboto';
	src: url(~assets/fonts/Roboto-Medium.ttf);
	font-weight: 500;
}

@font-face {
	font-family: 'Roboto';
	src: url(~assets/fonts/Roboto-Regular.ttf);
	font-weight: 400;
}

@font-face {
	font-family: 'Roboto';
	src: url(~assets/fonts/Roboto-Light.ttf);
	font-weight: 300;
}

@font-face {
	font-family: 'Roboto';
	src: url(~assets/fonts/Roboto-Thin.ttf);
	font-weight: 100;
}
