.hud_bonus {
  position: absolute;
  top: 20vw;
  right: 0;
  background: linear-gradient(
    180deg,
    rgba(15, 15, 15, 0.3) 20%,
    rgba(39, 39, 39, 0.3) 75%
  );

  width: 10vw;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.2vw;
    font-size: 1vw;

    & > div {
      width: 100%;
      padding: 0.5vw 1vw;

      &.hud_bonus-sum {
        background-color: $gh-green;
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 20% 100%);
        padding-left: 2vw;

        .point-icon {
          width: 1.3vw;
          height: 1.3vw;
        }
      }
    }
  }
  .body {
    padding: 0 1vw 0.2vw;
    font-size: 0.7vw;
    line-height: normal;
  }
}
