.hud_interact {
	position: absolute;
	bottom: 10%;
	left: 60%;

	display: flex;
	align-items: center;
	padding: 0.5vw;
	width: 13%;
	height: 2vw;

	background: linear-gradient(
		90deg,
		rgba(17, 25, 40, 0.75),
		rgba(17, 25, 40, 0.2)
	);
	border-left: 2px solid rgba(149, 232, 0, 0.8);
	border-radius: 0.2vw;

	&-key {
		position: relative;
		margin-right: 0.5vw;
		border-radius: 0.5vw;
		text-align: center;
		font-weight: 700;
		color: $gh-green;
	}

	&-action {
		color: white;
		font-weight: 300;
		font-size: 1vw;
	}
}
